table{
	
}
h1,a{
	padding:0px; 
	margin:0px;
}
.logBut{
	color:white;	
}
body {
	color:white;
	font-family: 'Product Sans', Arial, sans-serif;
	padding:0px;
	margin:0px;
}
#notifications {
	color:#fff;
	font-size:105%;
}
#registerBut {
	background-color:#ffeb3b;
	padding:9px 13px 9px 13px;
	border-radius:5px;
	color:#727272;
	font-size:120%;
}
a{
	text-decoration:none;
}
#voyagersName {
	font-size:250%;
	color:white;
	font-family: 'Chivo', sans-serif;
	text-shadow:3px 0px 3px black;
}

#frontTable{
	width:100%;
	padding:0px;
	margin:0px;
	box-shadow:0px 0px 20px  black;
}
#txtPlaces {
	border-radius:5px;
	padding:0.5%;
	font-size:40%;
	margin-right:0px;
}
.comments {
	color:#727272;
	list-style-type: none;	
}
#searchSub{
	background-color:#ffeb3b;
	color:#727272;
	font-weight:500;
	font-family: 'Product Sans', Arial, sans-serif;
	padding:6.3px 12px;
	font-size:50%;	
	border:none;
	border-radius:5px;
}
#locImage {
	width:50%;
	height:60%;
	border: 10px #0288d1 groove;	
}
.addNewComm{
	cursor: pointer;
	 -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           
}

/*#requestBut {
	background-color: #0288d1;
	border: 0px;
	padding: 1%;
	color: white;
	font-weight: bold;
	font-family: 'Product Sans';
	font-size: 110%;
	box-shadow: 0px 0px 2px 0.5px; black;
}*/
.submitCom {
	/*margin-left: 4%;*/
	color:#fff;
	padding: 0.7%;
	font-size: 110%;
	/*border: 3px solid black;*/
	border: 0px;
	cursor: pointer;
	border-radius: 3px;
	box-shadow: 00px 0px 6px #888888;
	background-color: #eb4340;
}
#message {
	position: absolute;
	width: 30%;
	height: 20%;
	z-index: 10;
	background-color:#0288d1;
	top: 25%;
	left: 33%;
	text-align: center;
	padding-top: 8%;
	/*content: "Successfully logged in";*/
	font-size: 200%;
	/*margin-top: 40%;*/
	color: black;
	border-radius:5px; 
	text-shadow:2px 2px 2px white;
	line-height: 20%;
	box-shadow: 0px 0px 6px #888888; 
	background-image: url('../img/message.jpg');
	background-size: 100% 100%;
	display: none;
}
#homeBut {
	color:#fff;
	font-size:105%;
}
#headingBack{
	background-size: contain;
    background-repeat: no-repeat;
    height: 35%;
    width: 100%;
    position: absolute;
    top: 13%;
    /*z-index: 1;*/
	background-image:url('../img/nameBack.png');
	background-size: 100% 100%;
}

#exactPlace {
	font-size:300%;
	vertical-align: top;
	text-align: center;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
#notExactPlace {
	font-size:130%;
	margin-top: 0px;
	padding-top: 0px;
	vertical-align: top;
	text-align: center; 
}
.noOfLikes {
	float:left;
}
